* {
  box-sizing: border-box;
  /* margin: 0 auto;
  padding: 0; */
}

h1 {
  /* bgc */
  background-color: #111;
  /* c */
  color: #49d89f;
  /* fz */
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

a {
  font-size: 32px;
  opacity: 0.5;
}

a:link {
  color: #000;
}

a:visited {
  color: gray;
}

a:hover {
  color: blue;
  opacity: 1;
}

a:active {
  color: red;
}

.username-input {
  border: 10px solid orange;
}
.username-input:focus {
  border-color: yellow;
  outline: 0;
}

.box {
  /* w200 */
  width: 200px;
  /* h200 */
  height: 200px;
  background-color: blue;
  /* m20 */
  /* margin: 20px;
  margin: 20px auto; */
  margin: 20px auto 20px auto;
  /* mb */
  /* margin-bottom: 20px; */
  /* bd */
  border: 10px solid #000;
  /* p */
  padding: 20px;
  /* padding: 20px 20px;
  padding: 20px 20px 20px 20px; */
  position: relative;
}

.box-inside {
  width: 50px;
  height: 50px;
  background-color: red;
  /* pos */
  position: absolute;
  /* l */
  left: 0;
  /* t */
  top: 0;
  z-index: 99;
}

.circle {
  width: 50%;
  /* height: 50%; */
  /* padding-bottom: 50%; */
  aspect-ratio: 1/1;
  background-color: #fff;
  /* brs */
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  transition-property: background-color, border-color, left;
  transition-duration: 1s;
  border: 3px solid #fff;
  left: 20px;
}

.circle:hover {
  background-color: #444;
  border-color: rgb(36, 190, 36);
  left: 50px;
  /* border-width: 3px;
  border-style: solid; */
}

.circle::before {
  content: "HELLO";
  color: orange;
  margin-left: -100px;
}
.circle::after {
  content: "WORLD";
  color: orange;
  margin-right: -100px;
}

.items li {
  /* db */
  display: inline-block;
  /* display: block;
  display: inline; */
  width: 100px;
  border: 2px solid red;
}

.fruits {
  padding-left: 40px;
  list-style-type: upper-alpha;
  /* list-style-type: ; */
}

.fruits li:nth-child(odd) {
  background-color: orange;
}

.fruits li:nth-child(even) {
  background-color: yellow;
}

.fruits li:nth-child(5n + 3) {
  background-color: rgb(36, 190, 36);
}

.lorem-text {
  text-align: center;
}
.lorem-text::selection {
  background-color: orange;
  color: #fff;
}
.lorem-text::first-letter {
  font-size: 60px;
}
.lorem-text::first-line {
  font-size: 30px;
}
